body {
    background-color: #121212;
    color: #f1f1f1;
}

h2 {
    color: #e3e3e3;
}

.column {
    background-color: #1e1e1e;
}

.task {
    background-color: #2c2c2c;
    color: #f1f1f1;

}

.navbar {
    background-color: #333;
}

.navbar a,
.dropbtn,
.add-task-btn,
.points {
    color: #f1f1f1;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.add-task:hover .add-task-btn,
.task:hover {
    background-color: #8a8585;
}

.dropdown-content {
    background-color: #2c2c2c;
}

.dropdown-content a {
    color: #f1f1f1;
}

.dropdown-content a:hover {
    background-color: #444;
}

a:hover.locked {
    background-color: #d33e3e;
}

.column.drag-over {
    background-color: #444;
}