body {
    background-color: #fefefe;
    margin: 0;
    user-select: none;
    font: 16px Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin-top: 1rem;
    color: #222;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

main {
    padding-top: 4rem;
}

.board {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.column {
    display: inline-block;
    background: #dadada;
    border-radius: 8px;
    padding: 1rem;
    min-width: 350px;
    min-height: 300px;
}

.task {
    background: white;
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    cursor: pointer;
    &:hover {
        background-color: rgba(159, 144, 144, 0.221);
    }
}

.column.drag-over {
    background: #d9f2ff; /* highlight on drag over */
}

/* Navbar container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 4rem;
    background-color: #888;

}

.add-task, .add-task-btn, .dropdown, .dropbtn, .points {
    height: 100%;
}

.points {
    display: flex;
    align-items: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: #fefefe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    margin-right: auto;
    overflow: hidden;
}

/* Dropdown button */
button, .points {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

button {
    cursor: pointer;
    padding: 14px 16px;
}

a {
    cursor: pointer;
}

.points {
    font-size: 20px;
    padding: 0 16px;
}

/* background color for navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #777;
}

/* background color for navbar links on hover */
.add-task:hover .add-task-btn {
    background-color: #777;
}

.add-task {
    margin-left: auto;
    height: 100%;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

a:hover.locked {
    background-color: #d33e3e;
}

/* Show the dropdown menu on hover */
.show {
    display: block;
}
